*.dae filter=lfs diff=lfs merge=lfs -text
src/pick_and_place_env/meshes/*/*.dae filter=lfs diff=lfs merge=lfs -text
src/pick_and_place_env/meshes/updated_meshes/ConveyorAndSupportComponents.dae filter=lfs diff=lfs merge=lfs -text
