<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <!--PhoXi3Dscanner S-->
    <xacro:macro name="PhoXi3DscannerS_default_sensor_origin">
        <origin xyz="-0.1173845315 0.0299 0.005287752939" rpy="0 ${-15.45/180*pi} ${pi}" />
    </xacro:macro>
    <xacro:macro name="PhoXi3DscannerS_meshes">
        <mesh filename="package://phoxi_camera/meshes/visual/PhoXi_S.f.STL" scale = "0.001 0.001 0.001"/>
        <mesh filename="package://phoxi_camera/meshes/collision/PhoXi_S.c.STL" scale = "0.001 0.001 0.001"/>
    </xacro:macro>
</robot>