<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find pick_and_place_env)/urdf/colours/colours.xacro"/>
  <xacro:macro name = "PhoXi3Dscanner">
    <!-- link list -->
    <link name="PhoXi3Dscanner">
      <visual>
        <origin xyz="0 0 0" rpy="0 1.5707 0" />
        <geometry>
          <mesh filename="package://phoxi_camera/meshes/visual/PhoXi_S.f.STL" scale = "0.001 0.001 0.001"/>
        </geometry>
        <xacro:colour_gray_30p/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 1.5707 0" />
        <geometry>
          <mesh filename="package://phoxi_camera/meshes/collision/PhoXi_S.c.STL" scale = "0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>
    <link name="PhoXi3Dscanner_sensor"/>
    <!-- end of link list -->
    <!--  -->
    <!--  -->
    <!-- joint list -->
    
    <joint name="camera_support_to_PhoXi3Dscanner_joint" type="fixed">
      <origin xyz="0.745 0.640 1.231" rpy="${pi} 0 ${-pi/2}"/>
      <parent link="Fixed_frame"/>
      <child link="PhoXi3Dscanner"/>
    </joint>
    <joint name="PhoXi3Dscanner_to_PhoXi3Dscanner_sensor_joint" type="fixed">
      <origin xyz="-0.1173845315 0.0299 0.005287752939" rpy="0 ${-15.45/180*pi} ${pi}" />
      <parent link="PhoXi3Dscanner"/>
      <child link="PhoXi3Dscanner_sensor"/>
    </joint>
    <!-- end of joint list -->
  </xacro:macro>
</robot>