<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find pick_and_place_env)/urdf/colours/colours.xacro"/>
  <xacro:macro name = "Conveyor_belt">
    <!-- link list -->
    <link name="conveyor_belt">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://pick_and_place_env/meshes/conveyor_belt.stl" scale = "0.001 0.001 0.001"/>
        </geometry>
        <xacro:colour_gray_50p/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://pick_and_place_env/meshes/conveyor_belt.stl" scale = "0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>
    <!-- end of link list -->
    <!--  -->
    <!--  -->
    <!-- joint list -->
    <joint name="base_to_conveyor_belt_joint" type="fixed">
      <origin xyz="0.7 1 0.75" rpy="${pi/2} 0 ${pi/2}"/>
      <axis xyz="0 0 1"/>
      <parent link="base"/>
      <child link="conveyor_belt"/>
    </joint>
    <!-- end of joint list -->
  </xacro:macro>
</robot>