<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find pick_and_place_env)/urdf/colours/colours.xacro"/>
  <xacro:macro name = "Fixed_parts">
    <!-- link list -->
    <link name="Fixed_frame">
      <visual>
        <geometry>
          <mesh filename="package://pick_and_place_env/meshes/New_meshes/Fixed_parts_pillot_line.dae" scale = "0.01 0.01 0.01"/>
        </geometry>
      </visual>
      <collision name="collision">
        <geometry>
          <mesh filename="package://pick_and_place_env/meshes/New_meshes/Fixed_parts_pillot_line.dae" scale = "0.01 0.01 0.01"/>
        </geometry>
      </collision>
    </link>
    <!-- end of link list -->
  </xacro:macro>
</robot>